<!--menu.html-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/img/go-seeklogo.com.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <ul class="navbar-nav navbar-dark mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/article/new">New <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/article/view">Articles <span class="sr-only"></span></a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
      {{ if .user }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .user.Username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/signout">Sign Out</a>
          </div>
        </li>
      {{ else }}
        <li class="nav-item">
          <a class="btn btn-secondary active" href="/signin">Sign in</a>
        </li>
      {{ end }}
  </ul>
</nav>