<!--menu.html-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/img/go-seeklogo.com.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <ul class="navbar-nav navbar-dark mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/article/new">New <span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="btn btn-secondary active" href="/signin">Sign in</a>
    </li>
  </ul>
</nav>