<!--new.html-->
<!--header.html-->

<!doctype html>
<html>

<head>
    <!--Use the title variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--Use bootstrap to make the application look nice-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="css/signin.css" rel="stylesheet">
</head>

<body class="container">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=255106532473348&autoLogAppEvents=1"></script>
    <!--Embed the menu.html template at this location-->

    <!--Embed the header.html template at this location-->

    <form method="POST" action="/signin" class="text-center form-signin jumbotron">
        <a href="/">
            <img class="mb-4" src="/img/go-seeklogo.com.svg" alt="" width="72" height="72">
        </a>
        <div class="form-group">
            <label for="InputUsername">Username</label>
            <input type="text" name="username" class="form-control" id="InputUsername">
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="InputPassword">
        </div>
        <button type="submit" class="form-group btn btn-lg btn-primary btn-block" id="BtnSubmit">Sign in</button>
        <a href="/auth/google/signin" class="form-group btn">
            <img class="" src="/img/btn_google_signin_light_normal_web.png">
        </a>
        <label class="form-group form-check-label">
            <span class="text-danger align-middle" id="SpanMessage"></span>
        </label>
        <!-- <div class="dropdown-divider"></div> -->
        <a class="dropdown-item" href="/signup">New around here? Sign up</a>
        <a class="dropdown-item" href="#">Forgot password?</a>
    </form>
    <script>
        $("input").on("input", function () {
            $("#SpanMessage").text("");
        });
        $("#BtnSubmit").click(function (e) {
            e.preventDefault();
            $("#SpanMessage").text("");
            $.ajax({
                type: "POST",
                url: "/signin",
                contentType: "application/json; charset=utf-8",
                data: '{"username":"' + $("#InputUsername").val() + '","password":"' + $("#InputPassword").val() + '"}',
                dataType: "json",
                beforeSend: function () {
                    $("#loading").removeClass("d-none");
                },
                complete: function () {
                    $("#loading").addClass("d-none");
                },
                success: function (result, status, xhr) {
                    if (result.status == "unauthorized") {
                        $("#SpanMessage").text("Incorrect username or password.");
                    } else {
                        window.location.href = result.redirect
                    }
                }, error: function (xhr, status, error) {
                    $("#dbData").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            })
        });

    </script>
    <!--Embed the footer.html template at this location-->
    {{ template "footer.html" .}}